.titleBar{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  display: 'block';
  color: rgb(192, 192, 192);
  padding: 20px
}

.SearchBar {
  font-size: 24px;
  opacity: 0.2;
  display: 'block';
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.backGround {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.option {
  position: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 28%;
}

/* boatRow */
.imgGrid {
  display: flex;
  align-items: stretch;
  width: 400px;
  height: 225px; 
}

.form[type=text] {
  border: none;
  border-bottom: 2px solid rgb(167, 226, 250);
  width: 400px;
  height: 20px;
  padding: 10px;
}

/* default */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
